# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://mbx:nopassword123!@localhost:5432/moneyman?schema=public"
DATABASE_URL=postgresql://postgres:59hlMxRFG6F9la8EySjpWrKy3vfOTvdybEMP4Gf7bskswZaNM7pfpxJfSdFxJ5Lg@pg88c4swwgg484w4oo4ogs08:5432/demotrader?schema=public
# Auth credentials (change these!)
AUTH_EMAIL="admin@moneyman.com"
AUTH_PASSWORD="admin123"
